# Analyze data

# 1. Imports

## 1.1 Packages

In [3]:
# Essential
import os
import sys

# Data science
import pandas as pd

# Plots
import seaborn as sns

In [4]:
sys.path.append('../src/nyc_taxi/pipelines/data_engineering')
from download_data import download_dataset_yymm

## 1.2 Options

In [5]:
# Pandas option
pd.options.display.max_columns = 100

# Plots option
sns.set_style("white")
sns.set_color_codes(palette='deep')

In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
link_nyc_taxi = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_"

## 1.3 Dataset

In [8]:
df = download_dataset_yymm(link=link_nyc_taxi, year_month="2022-04")

# 2. Analyze data

In [9]:
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
3457862,2,2022-04-30 20:30:43,2022-04-30 20:36:02,1.0,1.11,1.0,N,141,236,2,6.0,0.5,0.5,0.00,0.0,0.3,9.80,2.5,0.0
250176,2,2022-04-02 23:41:37,2022-04-02 23:55:17,6.0,5.43,1.0,N,263,79,1,17.5,0.5,0.5,2.00,0.0,0.3,23.30,2.5,0.0
470489,2,2022-04-05 07:49:08,2022-04-05 08:03:25,1.0,1.92,1.0,N,166,244,1,11.0,0.0,0.5,3.54,0.0,0.3,15.34,0.0,0.0
238634,2,2022-04-02 21:44:15,2022-04-02 22:02:18,1.0,4.15,1.0,N,166,161,1,16.0,0.5,0.5,2.00,0.0,0.3,21.80,2.5,0.0
830608,2,2022-04-08 06:41:17,2022-04-08 06:56:26,1.0,3.26,1.0,N,230,262,1,13.5,0.0,0.5,4.00,0.0,0.3,20.80,2.5,0.0

In [10]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [11]:
df.isna().sum() / len(df)

VendorID                 0.000000
tpep_pickup_datetime     0.000000
tpep_dropoff_datetime    0.000000
passenger_count          0.033021
trip_distance            0.000000
RatecodeID               0.033021
store_and_fwd_flag       0.033021
PULocationID             0.000000
DOLocationID             0.000000
payment_type             0.000000
fare_amount              0.000000
extra                    0.000000
mta_tax                  0.000000
tip_amount               0.000000
tolls_amount             0.000000
improvement_surcharge    0.000000
total_amount             0.000000
congestion_surcharge     0.033021
airport_fee              0.033021
dtype: float64