# Analyze data

# 1. Imports

## 1.1 Packages

In [1]:
# Essential
import sys

# Data science
import pandas as pd

# Plots
import seaborn as sns

In [2]:
sys.path.append('../src/nyc_taxi/pipelines/data_engineering')
from download_data import download_dataset_yymm
# from nodes import create_id

## 1.2 Options

In [3]:
# Pandas option
pd.options.display.max_columns = 100

# Plots option
sns.set_style("white")
sns.set_color_codes(palette='deep')

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
link_nyc_taxi = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_"

## 1.3 Dataset

In [6]:
df = download_dataset_yymm(link=link_nyc_taxi, year_month="2022-04")
# df = create_id(df)

In [7]:
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2148404,2,2022-04-19 18:13:38,2022-04-19 18:23:53,4.0,2.02,1.0,N,264,129,1,10.0,1.0,0.5,2.95,0.0,0.3,16.00,0.0,1.25
343593,2,2022-04-03 20:40:24,2022-04-03 21:06:41,1.0,14.69,1.0,N,132,179,1,41.0,0.5,0.5,5.00,0.0,0.3,48.55,0.0,1.25
1024107,2,2022-04-09 17:11:36,2022-04-09 17:26:52,1.0,2.00,1.0,N,211,68,2,11.0,0.0,0.5,0.00,0.0,0.3,14.30,2.5,0.00
2053513,2,2022-04-18 20:56:41,2022-04-18 21:25:19,3.0,11.10,1.0,N,132,36,1,32.5,0.5,0.5,7.01,0.0,0.3,42.06,0.0,1.25
549975,1,2022-04-05 19:42:24,2022-04-05 19:50:32,1.0,1.10,1.0,N,170,68,1,7.0,3.5,0.5,2.25,0.0,0.3,13.55,2.5,0.00

# 2. Analyze data

In [ ]:
from google.cloud import storage

def upload_to_gcs(bucket_name: str, source_file_path: str, destination_blob_name: str, credentials_file: str) -> None:
    """
    """
    # Initialize the Google Cloud Storage client with the credentials
    storage_client = storage.Client.from_service_account_json(credentials_file)

    # Get the target bucket
    bucket = storage_client.bucket(bucket_name)

    # Upload the file to the bucket
    blob = bucket.blob(destination_blob_name)
    blob.upload_from_filename(source_file_path)

    print(f"File {source_file_path} uploaded to gs://{bucket_name}/{destination_blob_name}")

In [ ]:
BUCKET_NAME = "nyc-taxi-trip-bucket"
SOURCE_FILE_PATH = "../conf/local/nyc-taxi-409418-4f5dbef2c6bc.json"
DESTINATION_BLOB_NAME = "nyc-taxi-data.pkl"