# Create model

# 1. Imports

## 1.1 Packages

In [1]:
# Essential
import os
import sys

# Data science
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error

# Plots
import seaborn as sns

In [2]:
sys.path.append('../src/nyc_taxi/pipelines/data_science')

## 1.2 Options

In [3]:
# Pandas option
pd.options.display.max_columns = 100

# Plots option
sns.set_style("white")
sns.set_color_codes(palette='deep')

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
path_data = "../data/03_primary"

## 1.3 Dataset

In [6]:
df_train = pd.read_pickle(os.path.join(path_data, "df_train.pkl"))
df_valid = pd.read_pickle(os.path.join(path_data, "df_valid.pkl"))

# 2. Create model

In [7]:
y_train = df_train["duration"]
y_valid = df_valid["duration"]

df_train.drop(columns=["duration"], inplace=True)
df_valid.drop(columns=["duration"], inplace=True)

In [8]:
df_train.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee
1608303,2.0,2023-02-16 18:12:40,2023-02-16 18:30:21,1.0,2.22,1.0,N,170.0,114.0,1.0,17.0,2.5,0.5,4.70,0.0,1.0,28.20,2.5,NaN,0.0
1850443,2.0,2023-01-20 15:36:21,2023-01-20 15:53:45,1.0,2.58,1.0,N,230.0,43.0,1.0,17.7,0.0,0.5,2.00,0.0,1.0,23.70,2.5,0.0,NaN
1354948,1.0,2023-01-15 14:43:54,2023-01-15 14:54:02,1.0,1.30,1.0,N,100.0,230.0,1.0,10.7,2.5,0.5,1.50,0.0,1.0,16.20,2.5,0.0,NaN
1823241,2.0,2023-02-18 18:43:40,2023-02-18 18:47:45,1.0,0.58,1.0,N,236.0,236.0,1.0,5.8,0.0,0.5,1.25,0.0,1.0,11.05,2.5,NaN,0.0
973064,2.0,2023-01-11 21:50:47,2023-01-11 22:07:03,6.0,3.13,1.0,N,239.0,161.0,1.0,18.4,1.0,0.5,5.85,0.0,1.0,29.25,2.5,0.0,NaN

In [9]:
mean_train = np.mean(y_train)
print("Mean train set:", mean_train)

Mean train set: 950.406348257279

In [10]:
pred_train = np.ones(df_train.shape[0]) * mean_train
pred_valid = np.ones(df_valid.shape[0]) * mean_train

In [11]:
rmse_train = mean_squared_error(y_true=y_train, y_pred=pred_train, squared=False)
rmse_valid = mean_squared_error(y_true=y_valid, y_pred=pred_valid, squared=False)
print("RMSE train:", rmse_train)
print("RMSE valid:", rmse_valid)

RMSE train: 2564.680438763644
RMSE valid: 2626.459298785607

In [12]:
pred_train

array([950.40634826, 950.40634826, 950.40634826, ..., 950.40634826,
       950.40634826, 950.40634826])

In [13]:
y_train

0            506.0
1            379.0
2            765.0
3            577.0
4            650.0
            ...
2932889    57176.0
3033658      535.0
3040040     2549.0
3133953      885.0
3139871    43995.0
Name: duration, Length: 5980791, dtype: float64